.converter {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../img/converter-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.converter__wrap {
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,min-content);
  grid-row-gap: 20px;
}

.converter__title {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  color: @standart-white;
  font-family: 'Roboto', "Arial", sans-serif;
}

.converter__module {
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;

  padding: 50px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .8);
}

.converter__radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.converter__radio-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: @standart-black;
  cursor: pointer;
}

.converter__radio-text {
  font-size: 18px;
  text-transform: capitalize;
  color: @standart-black;
  opacity: 0.7;
  font-family: 'Roboto', "Arial", sans-serif;
}

.converter__buy-sell-radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.converter__custom-radio {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  border: 3px solid @standart-border;
  opacity: 0.8;
}

.converter__radio-label:hover .converter__custom-radio,
.converter__radio-label:focus .converter__custom-radio {
  opacity: 1;
}

.converter__buy-sell-radio:checked + .converter__custom-radio::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: @standart-border;
  opacity: 1;
}

.converter__buy-sell-radio:checked + .converter__custom-radio {
  opacity: 1;
}

.converter__buy-sell-radio:checked ~ .converter__radio-text {
  opacity: 1;
}

.converter__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.converter__select {
  width: 180px;
  border: none;
  height: 30px;
  padding: 0 8px;
  border-radius: 5px;
  cursor: pointer;
}

.converter__option {
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  color: @standart-black;
}

.converter__label {

}

.converter__input {
  border: none;
  background-color: @standart-white;
  height: 30px;
  padding: 0 8px;
  border-radius: 5px;
  width: 180px;
  cursor: pointer;
  transition: all .2s ease;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
}

.converter__select,
.converter__input {
  &:hover,
  &:focus {
    box-shadow:  5px 5px 14px #bebebe,
             -5px -5px 14px #ffffff;
    transition: all .2s ease;
  }
}
