.converter {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,min-content);
  grid-row-gap: 20px;
}

.converter__title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.converter__module {
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;

  padding: 40px;
  background-color: rgba(0, 0, 0, .2);
}

.converter__radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.converter__radio-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.converter__buy-sell-radio{

}

.converter__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.converter__select {
  width: 180px;
  border: none;
  height: 30px;
  padding: 0 8px;
  border-radius: 5px;
}

.converter__option {

}

.converter__label {

}

.converter__input {
  border: none;
  background-color: @standart-white;
  height: 30px;
  padding: 0 8px;
  border-radius: 5px;
  width: 180px;
}
